<html>
    <head>
      <link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
          <div class="container">
              <h1>Welcome to my "One Month" Project</h1>
              <p>My Name is Stewart, and I'm a guy who likes to learn. <br>
              I built this website as a project using
              <a href="http://onemonth.com/courses/one-month-python">
              One Month Python</a>.<br>
              The App on the home page uses the Yelp API to look up <br>
              the top three restaurants in the city and state you specify. <br>
              I hope you like it!</p> <br>
              <a href="{{ url_for('index') }}">Back to Home Page</a>
          </div>
        </div>
    </body>
</html>
