<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
          <div class="container">
              <h1>Welcome to my One Month Python Project</h1>
              <p>My Name is Stewart, and I'm a guy who likes to learn. <br>
              I built this website as a project using
              <a href="http://onemonth.com/courses/one-month-python">
              One Month Python</a> </p> <br>
              <a href="{{ url_for('index') }}">Back to Home Page</a>
              <a href="{{ url_for('contact') }}">Contact Me</a>
          </div>
        </div>
    </body>
</html>
