<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
          <div class="container">
              <h1>Contact Me or Something</h1>
              <p>There will be a form here, for contacting me and stuff</p><br>
              <a href="{{ url_for('index') }}">Back to Home Page</a>
              <a href="{{ url_for('about') }}">About This Project</a>
          </div>
        </div>
    </body>
</html>
